[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-pony"]
	path = bundle/vim-pony
	url = git://github.com/rainerborene/vim-pony.git
[submodule "bundle/vim-script-runner"]
	path = bundle/vim-script-runner
	url = git://github.com/ironcamel/vim-script-runner
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
