[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-pony"]
	path = bundle/vim-pony
	url = git://github.com/rainerborene/vim-pony.git
[submodule "bundle/vim-script-runner"]
	path = bundle/vim-script-runner
	url = git://github.com/ironcamel/vim-script-runner
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/tabman"]
	path = bundle/tabman
	url = https://github.com/kien/tabman.vim
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = https://github.com/clones/vim-fuzzyfinder.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
